body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-image: url("../images/bg-picture.svg");
    background-size: cover; 

}

.container {
    max-width: 100%;
   
}

.body-center{
    text-align: center;
}

.nav-side{
    height: 100vh;
    padding: 0;
    margin: 0;
}

.posform{
    top: 37%;
    left: 32%;
}

.bg-title h1{
    font-size: 70px;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: #1a56ce;
    letter-spacing: 7px;
}

.bg-title h1 span{
    color: #B65BC6;
}

.tit-font{
    margin-bottom: 17px;
}

.nive-side-inside{
    background-color: #669AFF;
    height: 100%;
    width: 80%;
}

.con-form .conn{
    padding-right: 30px;
    
}

.weltitle{
    font-size: 20px;
}

.infotext{
    font-size: 15px;
    letter-spacing: 1px;
}

.text-footer{
    font-size: 15px;
    position: relative;
    top: 30px;
    padding: 10px;
    margin: 50px;
    box-shadow: 0 8px 16px 0 #676b70, 0 6px 20px 0 #99a1b1;
    width: 250px;
    color: #fff;
    background-color: #669AFF;
    border: none;
}

.text-footer:hover{
    background-color: #B65BC6;
    transition: all 1s ease-in-out;
}

.footer-text{
    text-align: center;
    position: relative;
    top: 60em;
    right: 35px;
    letter-spacing: 1px;
}

.nav-text-color{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff !important;
}

.nav-text-color:hover{
    background-color: #4275db;
    transition: all 0.7s ease-out;
}

.nav-text-color h1{
    font-size: 18px;   
    font-weight: bolder;
    margin-left: 10px;
    
}

.loginForm{
    background-color: red;
}
